footer {
	text: uppercase;
	padding-right: 20px;
	padding-left:20px;
	background-color: #0D2C40;
	text-color:white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.copyright {
	float: left;
}

.message {
	float: right;
}


.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name{
	color: #F15B31;
	font-weight: 700;
}
a:hover {
color: white;
}